<% if logged_in? %>
   
<nav id="nav">
    <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Home',  home_path %></li>
        <li><%= link_to 'Verify',  new_verification_path %></li>
        <li><%= link_to 'Patients', patients_path %></li>
        <li><%= link_to 'Find Patient', scan_patient_scan_path %></li>
        <li><%= link_to 'Bottles', bottles_path %></li>
        <%if can? :edit, Bottle%>
            <li><%= link_to 'Edit Bottle', scan_bottle_edit_path %></li>
        <% end %>
        <%if can? :destroy, Bottle%>
        <li><%= link_to 'Delete Bottle', scan_bottle_delete_path %></li>
        <%end%>
        <%if can? :create, User%>
            <li justify="right"><%= link_to 'Users', users_path %></li>
        <%end%>
    </ul>
</nav>
<% end %>


