<div class="card">
        <div class="card-content">
            <h5><%= @patient.proper_name %></h5><br />
            <b>MRN:&nbsp;&nbsp;</b><%= @patient.get_mrn%><br>
            <b>Date of Birth:&nbsp;&nbsp;</b><%= @patient.dob%><br>
            <b>Age:&nbsp;&nbsp;</b><%= @patient.get_age%><br>
            <b>Admitted?&nbsp;&nbsp;</b>
            <%= @patient.admitted ? "Yes" : "No" %> <br />
            <b>Active?&nbsp;&nbsp;</b>
            <%= @patient.active ? "Yes" : "No" %> <br />
            <b>In Fridge:&nbsp;&nbsp;</b><%= Bottle.for_patient(@patient).for_location("Fridge").count%><br>
            <b>In Freezer:&nbsp;&nbsp;</b><%= Bottle.for_patient(@patient).for_location("Freezer").count%><br>
        </div>
</div>

